.user-profile-dp{
    width: 100%;
    height: auto;
    display: flex;
    align-items: end;
}

.user-profile-dp__userimage{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-profile-dp__check{
    position: relative;
    left:-25%;
    top:80%;
    width: 20%;
    height: fit-content;
}